#mostrarFormulario {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ff7f45;
  color: #fffffd;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

#mostrarFormulario:hover {
  transform: scale(1.1);
}

.imagenParaSubir {
  aspect-ratio: 1 / 1;
    cursor: pointer;
    max-width: 150px;
    transition: transform 0.2s ease;
}
.imagenCuadrada {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  margin-top: 10px; 
  display: none;
}
.imagenParaSubir:hover {
    transform: scale(1.01);
}

#inputPortada, #inputImagenes {
    display: none;
}
#btnSiguiente,#btnCrear,#btnSiguiente2, #btnSeguir, .btnRecuperar {
  padding: 6px 20px;
  background-color: #ff7f45;
  border: 1px solid #ff7f45;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
#btnSiguiente:hover,#btnCrear:hover,#btnSiguiente2:hover, #btnSeguir:hover, .btnRecuperar:hover {
  background-color: #fffffd;
  color: #ff7f45;
  border: 1px solid #ff7f45;
}

.btnCancelar{
  padding: 6px 20px;
  background-color: #fffffd;
  border: 1px solid #ff7f45;
  color: #ff7f45;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
.btnCancelar:hover {
  background-color: #ff7f45;
  color: #fffffd;
  border: 1px solid #ff7f45;
}

.imagenPreview {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px;
}

.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background-image: none !important;
  padding-right: 0.75rem; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; /* quita el ícono por defecto */
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6); /* fondo oscuro */
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
  mask-size: cover;
}
.carousel-control-next-icon {
  transform: rotate(180deg); /* invierte la flecha para "siguiente" */
}

.textoIcon {
  color: #4B944B;
  font-size: 20px;
  font-weight: 500;
  margin-right: 5%;
  cursor: pointer;
  text-decoration: none;
}
#listaComentarios p {
  word-break: break-word;
  white-space: pre-wrap;
}
#loadMore {
  display: none !important;
}
  .logPas {
  position: relative;
}

.logPas .toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
}

.logPas input.form-control {
  padding-right: 2.75rem; 
}